<%= form_for [:admin, @author], class: "form-horizontal" do |f| %>
  <% if @author.errors.any? %>
    <div class="alert alert-error">
      <p><strong><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</p></strong>

      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :position %>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :blurb %>
    <%= f.text_area :blurb %>
  </div>
  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
