<h1>Listing authors</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Position / Title</th>
    <th>Blurb</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @authors.each do |author| %>
  <tr>
    <td><%= author.name %></td>
    <td><%= author.position %></td>
    <td><%= author.blurb_preview %></td>
    <td><%= link_to 'Show', admin_author_path(author), class: "btn" %></td>
    <td><%= link_to 'Edit', edit_admin_author_path(author), class: "btn btn-primary" %></td>
    <td><%= link_to 'Destroy', admin_author_path(author), confirm: 'Are you sure?', method: :delete, class: "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Author', new_admin_author_path, class: "btn btn-primary" %>
