<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @author.name %>
</p>

<p>
  <b>Position:</b>
  <%= @author.position %>
</p>

<p>
  <b>Blurb:</b>
  <% if @author.blurb? %>
    <%= @author.blurb_html %>
  <% else %>
    <em>N/A</em>
  <% end %>
</p>


<%= link_to 'Edit', edit_admin_author_path(@author) %> |
<%= link_to 'Back', admin_authors_path %>
