<% content_for :title do %>
  <%= @author.name %>, <%= @author.position %>
<% end %>

<h1><%= @author.name %> - <%= @author.position %></h1>

<p><%= @author.name %>'s articles:</p>

<%= render 'posts/paginated_list' %>
