<% content_for :title do %>
  <%= @author.name %>, <%= @author.position %>
<% end %>

<h2><%= @author.name %> - <%= @author.position %></h2>

<p><%= @author.name %>'s articles:</p>

<%= render :partial => "posts/post", :collection => @posts %>

<%= paginate @posts, :window => 2 %>
