<%= purdy_form_for [:admin, @post] do |f| %>
  <%= f.error %>

  <p>
    <%= f.label "Author: " %>
    <%= collection_select(:post, :author_id, @authors, :id, :name, {:prompt => false}) %>
  </p>

  <%= f.text_field(:title, "Title") %>
  <%= f.text_area(:content, "Content") %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
