<%= form_for [:admin, @post], class: "form-horizontal" do |f| %>
  <% if @post.errors.any? %>
  <div class="alert alert-error">
    <p><strong><%= pluralize(@post.errors.count, "error") %> prohibited
        this article from being saved:</strong></p>

    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

    <%= f.label "Author " %>
    <%= collection_select(:post, :author_id, @authors, :id, :name, {:prompt => false}, :class => "input-xxlarge") %>

    <%= f.label "Title" %>
    <div class="controls"><%= f.text_field(:title, class: "input-xxlarge") %></div>

    <% # begin editor %>
    <%= render "markdown_editor" %>
    <%= f.label "Content" %>
    <%= f.text_area(:content, class: "input-xxlarge", id: "post-content") %>
    <% # end editor %>

    <%= f.label "Section" %>
    <%= collection_select(:post, :section_id, @sections, :id, :name, {:prompt => false}, :class => "input-xxlarge") %>

  <div class="form-actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
