<% cache("post-#{params[:id]}") do %>
<article class="post">
	<h1><%= @post.title %></h1>
    <p class="info">
      By <em><%= link_to @post.author.name, @post.author %></em>, <%= @post.author.position %><br />
      <%= @post.publish_date %>
    </p>
    

	<div id="post">
	<%= @post.content_html %>

	</div>

	<%= link_to "Back to Posts", posts_path %>
</article>
<% end %>