<article class="post">
	<h1><%= @post.title %></h1>

  <div class="info">
    <p>By <em><%= link_to @post.author.name, @post.author %></em>, <%= @post.author.position %></p>
    <p class="date"><%= @post.publish_date %></p>
  </div>
  
  <div class="social">
    <div class="fb-like" data-href="<%= post_url @post %>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>

    <div class="g-plusone" data-size="medium"></div>
  </div>

	<div id="post">
    <%= @post.content_html %>

    <% # comments, provided through FB %>
    <div class="comments">
      <div class="fb-comments" data-href="<%= post_url @post %>" data-width="860" data-num-posts="20"></div>
    </div>
	</div>
</article>
