<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= stylesheet_link_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Cabin|Lobster|Quattrocento+Sans' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= javascript_tag("var AUTH_TOKEN = #{form_authenticity_token.inspect};") if protect_against_forgery? %>

  </head>
  <body>

  <div id="container">

  <header>
  	<h1>The Wasatch Gecko</h1>

    <p class="slogan">We're a newspaper!! YAYZ!!</p>

  	<nav>
  		<%= link_to "Home", root_path %>
      <%= link_to "About", about_path %>
  		<%= link_to "Staff", authors_path %>
  	</nav>
  </header>

  <div id="content">
  	<%= yield %>
  </div>

  <footer>
    <p>Footer stuff</p>
  </footer>

  </div>

  </body>
</html>
