<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= stylesheet_link_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Cabin|Lobster|Quattrocento+Sans' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= javascript_tag("var AUTH_TOKEN = #{form_authenticity_token.inspect};") if protect_against_forgery? %>

  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  <div id="container">

  <header>
  	<h1><%= link_to "The Wasatch Gecko", root_path %></h1>

    <p class="slogan">We're a newspaper!! YAYZ!!</p>

  	<nav>
  		<%= link_to "Home", root_path %>
      <%= link_to "About", about_path %>
  		<%= link_to "Staff", authors_path %>
  	</nav>
  </header>

  <div id="content">
  	<%= yield %>
  </div>

  <footer>
    <p></p>
  </footer>

  </div>

  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>

  </body>
</html>
