<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= stylesheet_link_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Cabin|Lobster|Quattrocento+Sans' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= javascript_tag("var AUTH_TOKEN = #{form_authenticity_token.inspect};") if protect_against_forgery? %>

  </head>
  <body>

  <div id="container">

  <header>
  	<h1><%= link_to "The Bonneville Address", root_path %></h1>

    <p class="slogan">We're a newspaper!! YAYZ!!</p>

  	<nav>
  		<%= link_to "Home", root_path %>
      <%= link_to "About", about_path %>
  		<%= link_to "Staff", authors_path %>
  	</nav>
  </header>

  <div id="content">
  	<%= yield %>
  </div>

  <footer>
    <p></p>
  </footer>

  </div>

  <%= content_for(:extra_scripts) %>

  <% if Rails.env.production? %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38497070-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  <% end %>

  </body>
</html>
